@charset "UTF-8";
/*/////////////////////// reboot //////////////////////////////////*/
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
main,
html,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*/////////////////////// vars ///////////////////////////////////*/
.top__subtitle, .about__text-small, .item__text, .item__wrapper__item_text, .dropdown__text, .contacts__ua_phone, .contacts__ua_mail, .contacts__ru_phone, .contacts__ru_mail, .contacts__by_phone, .contacts__by_mail, .form__subtitle, .copyright {
  font-family: "Ubuntu Light";
  font-weight: 300;
}

body, .form__name::-webkit-input-placeholder, .form__mail::-webkit-input-placeholder, .form__text::-webkit-input-placeholder {
  font-family: "Ubuntu Regular";
  font-weight: 400;
}

body, .form__name:-ms-input-placeholder, .form__mail:-ms-input-placeholder, .form__text:-ms-input-placeholder {
  font-family: "Ubuntu Regular";
  font-weight: 400;
}

body, .form__name::-ms-input-placeholder, .form__mail::-ms-input-placeholder, .form__text::-ms-input-placeholder {
  font-family: "Ubuntu Regular";
  font-weight: 400;
}

body, .form__name::placeholder, .form__mail::placeholder, .form__text::placeholder {
  font-family: "Ubuntu Regular";
  font-weight: 400;
}

.slider__title, .dropdown__title {
  font-family: "Ubuntu Medium";
  font-weight: 500;
}

.advantages__item_top:nth-child(1)::before, .advantages__item_top:nth-child(2)::before, .advantages__item_bottom:nth-child(1)::before, .advantages__item_bottom:nth-child(2)::before, .item__title, .item__wrapper__item_title, .contacts__ua, .contacts__ru, .contacts__by, .form__title, .form__submit {
  font-family: "Ubuntu Bold";
  font-weight: 700;
}

h1,
h2,
h3, .about__title, .advantages__title, .characteristics__title, .questions__title, .contacts__title {
  font-family: "SF Pro Display Regular" sans-serif;
  font-weight: 400;
}

.top__title {
  font-family: "SF Pro Display Semibold" sans-serif;
  font-weight: 600;
}

/*/////////////////////// fonts ////////////////////////////////////*/
@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu/Ubuntu-Light.eot");
  src: local("☺"), url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.eot");
  src: local("☺"), url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: local("☺"), url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot");
  src: local("☺"), url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url("fonts/sf/SFProDisplay-Regular.eot");
  src: local("☺"), url("fonts/sf/SFProDisplay-Regular.woff") format("woff"), url("fonts/sf/SFProDisplay-Regular.woff2") format("woff2"), url("fonts/sf/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url("../fonts/sf/SFProDisplay-Semibold.eot");
  src: local("☺"), url("../fonts/sf/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/sf/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/sf/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*/////////////////////// global //////////////////////////////////*/
body {
  color: #fff;
  z-index: -2;
}

.scroll_arrow {
  position: absolute;
  bottom: 4.2vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.scroll__btn {
  width: 15px;
  height: 7px;
}

.page-wrapper {
  position: relative;
}

.top,
.about,
.advantages,
.contacts,
.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/photos/page_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.lock {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}

/*/////////////////////// top /////////////////////////////////////*/
.top {
  background-image: url("../img/photos/top_bg.jpg");
  z-index: 1;
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
  opacity: 0.4;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.top__title {
  margin-top: 39vh;
  font-size: 96px;
  line-height: 115px;
  z-index: 3;
  margin-bottom: 3.3vh;
}

.top__img {
  margin-bottom: 3.5vh;
  z-index: 3;
}

.top__subtitle {
  text-align: center;
  z-index: 3;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 4.5vh;
}

.top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.top__icons {
  width: 40px;
  height: 40px;
  margin: 0 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.top__icons:hover {
  opacity: 1;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 27px;
}

.header__logo_text {
  margin-left: 11px;
}

.header__btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  width: 115px;
  height: 30px;
  margin-right: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn:hover {
  background-color: #fff;
  color: #000;
}

.header__burger_wrapper {
  display: none;
  width: 24px;
  height: 14px;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__burger_wrapper::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__burger_wrapper::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 84px;
}

.menu__item {
  position: relative;
  margin-right: 20px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__item_tel {
  display: none;
}

.fixHeader {
  height: 70px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.fp-tableCell {
  height: 100vh;
}

/*/////////////////////// about ///////////////////////////////////*/
.about {
  padding: 0;
}

.about__container {
  position: relative;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.about__title {
  font-size: 44px;
  line-height: 53px;
  margin: 148px 0 55px 86px;
}

.about__text-small {
  display: block;
  font-size: 17px;
  line-height: 150%;
  max-width: 440px;
  min-height: 255px;
  margin-left: 120px;
}

/*/////////////////////// slider //////////////////////////////////*/
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  background-color: #000;
  font-size: 0;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-arrow:hover {
  background-color: #fff;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  position: absolute;
  bottom: 0;
  right: 77px;
  width: 60px;
  height: 48px;
  outline: none;
  cursor: pointer;
}

.slick-arrow.slick-prev:hover::before {
  background-image: url("../img/icons/hover_prev.svg");
}

.slick-arrow.slick-prev::before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/prev.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  position: absolute;
  bottom: 0;
  right: 17px;
  width: 60px;
  height: 48px;
  outline: none;
  cursor: pointer;
}

.slick-arrow.slick-next:hover::before {
  background-image: url("../img/icons/hover_next.svg");
}

.slick-arrow.slick-next::before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Стрелка не активная */
/*////////////////////////// slider_styles /////////////////////////////////*/
.slider__box {
  position: relative;
  max-width: 826px;
  height: 363px;
  margin-top: 46vh;
  margin-left: 143px;
  margin-right: 87px;
}

.slider__box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 4px solid #fff;
  width: 564px;
  height: 280px;
}

.slider {
  max-width: 560px;
  height: 300px;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 17px;
}

.slider__title {
  position: absolute;
  left: -250px;
  bottom: 78px;
  width: 281px;
  height: 56px;
  z-index: 5;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

.slider__item {
  position: relative;
}

.slider__item__link {
  display: block;
}

/*/////////////////////// advantages //////////////////////////////*/
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  padding: 19.5vh 0 8.4vh 0;
}

.advantages__title {
  margin: 0 0 53px 90px;
  font-size: 44px;
  line-height: 53px;
}

.advantages__items_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.advantages__items_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.advantages__item_top {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item_top::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  width: 195px;
  height: 130px;
  background-color: transparent;
  border: 2px solid #ffffff;
  z-index: 1;
}

.advantages__item_top:nth-child(1), .advantages__item_top:nth-child(2) {
  margin-bottom: 13vh;
}

.advantages__item_top:nth-child(1) {
  width: 68vh;
  margin-left: 120px;
}

.advantages__item_top:nth-child(1)::before {
  content: "1";
  position: absolute;
  top: 101px;
  left: -20px;
  font-size: 36px;
  line-height: 29px;
  color: #fff;
}

.advantages__item_top:nth-child(2) {
  width: 66vh;
  margin-top: 17px;
  margin-left: 69px;
}

.advantages__item_top:nth-child(2)::before {
  content: "2";
  position: absolute;
  top: 101px;
  left: -25px;
  font-size: 36px;
  line-height: 29px;
  color: #fff;
}

.advantages__item_bottom {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.advantages__item_bottom::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  width: 195px;
  height: 130px;
  background-color: transparent;
  border: 2px solid #ffffff;
  z-index: 1;
}

.advantages__item_bottom:nth-child(1) {
  width: 68vh;
  margin-left: 150px;
}

.advantages__item_bottom:nth-child(1)::before {
  content: "3";
  position: absolute;
  top: 101px;
  left: -20px;
  font-size: 36px;
  line-height: 29px;
  color: #fff;
}

.advantages__item_bottom:nth-child(2) {
  width: 66vh;
  margin-top: 17px;
  margin-left: 69px;
}

.advantages__item_bottom:nth-child(2)::before {
  content: "4";
  position: absolute;
  top: 101px;
  left: -25px;
  font-size: 36px;
  line-height: 29px;
  color: #fff;
}

.item__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 195px;
  height: 130px;
  margin-right: 32px;
  z-index: 2;
}

.item__discription {
  height: auto;
  width: auto;
}

.item__title {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 11px;
  width: auto;
}

.item__text {
  width: auto;
  font-size: 15px;
  line-height: 130%;
}

.item__title_1::before {
  content: "";
  position: absolute;
  top: 32px;
  right: -102px;
  width: 245px;
  height: 47px;
  background-image: url("../img/icons/1-2.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item__title_2::before {
  content: "";
  position: absolute;
  bottom: -160px;
  left: -696px;
  width: 463px;
  height: 62px;
  background-image: url("../img/icons/2-3.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item__title_3::before {
  content: "";
  position: absolute;
  top: 2.7vh;
  right: -18vh;
  width: 33vh;
  height: 5.3vh;
  background-image: url("../img/icons/3-4.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*/////////////////////// characteristics /////////////////////////*/
.characteristics {
  background-image: url("../img/photos/page_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.characteristics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20vh 0 12.5vh;
}

.characteristics__title {
  font-size: 44px;
  line-height: 53px;
  margin: 0 0 10vh 6.5%;
}

.characteristics__items_top {
  width: 86%;
  margin: 0 5% 140px 9%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.characteristics__items_bottom {
  width: 86%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% 0 9%;
}

.characteristics__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-30%) translateX(-50%);
          transform: translateY(-30%) translateX(-50%);
}

.characteristics__img {
  width: 100%;
}

.wrapper_1::before {
  content: "";
  position: absolute;
  top: 16px;
  right: -139px;
  width: 229px;
  height: 118px;
  background-image: url("../img/icons/point_1.svg");
  background-repeat: no-repeat;
  z-index: 5;
}

.wrapper_2::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -295px;
  width: 262px;
  height: 105px;
  background-image: url("../img/icons/point_3.svg");
  background-repeat: no-repeat;
  z-index: 5;
}

.wrapper_3::before {
  content: "";
  position: absolute;
  top: -68px;
  right: -280px;
  width: 352px;
  height: 105px;
  background-image: url("../img/icons/point_2.svg");
  background-repeat: no-repeat;
  z-index: 5;
}

.wrapper_4::before {
  content: "";
  position: absolute;
  top: -73px;
  left: -139px;
  width: 125px;
  height: 92px;
  background-image: url("../img/icons/point_4.svg");
  background-repeat: no-repeat;
  z-index: 5;
}

.item__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
}

.item__wrapper__item_title {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 10px;
}

.item__wrapper__item_text {
  font-size: 15px;
  line-height: 130%;
}

/*/////////////////////// questions ///////////////////////////////*/
.questions__container {
  max-width: 1366px;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15% 0 11% 90px;
}

.questions__title {
  font-size: 44px;
  line-height: 53px;
  margin: 0 0 38px 0;
}

.questions__dropdown {
  width: 757px;
}

.questions__photo {
  position: absolute;
  width: 320px;
  height: 125px;
  right: 195px;
  top: 420px;
}

.dropdown__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 5px;
}

.dropdown__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72px;
  background: rgba(0, 0, 0, 0.3);
}

.dropdown__title {
  width: 100%;
  font-size: 21px;
  line-height: 28px;
  color: #fff;
  opacity: 0.8;
  padding: 20px 39px 24px 39px;
}

.dropdown__button {
  width: 67px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown__text {
  width: 100%;
  height: 139px;
  font-size: 15px;
  line-height: 150%;
  color: #fff;
  padding: 0 0 75px 50px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.button__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.init .button__arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*/////////////////////// contacts ////////////////////////////////*/
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19.5vh 0 0 6.5vw;
}

.contacts__title {
  font-size: 44px;
  line-height: 53px;
  color: #fff;
  margin-bottom: 56px;
}

.contacts__adresses {
  width: 240px;
  margin-left: 30px;
}

.contacts__ua {
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 13px;
}

.contacts__ua_phone {
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 5px;
}

.contacts__ua_mail {
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 30px;
}

.contacts__ru {
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 13px;
}

.contacts__ru_phone {
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 5px;
}

.contacts__ru_mail {
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 30px;
}

.contacts__by {
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 13px;
}

.contacts__by_phone {
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 5px;
}

.contacts__by_mail {
  display: block;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 109px 106px 0 60px;
}

.contacts__social {
  margin-top: 192px;
}

.form__title {
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 13px;
}

.form__subtitle {
  font-size: 15px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 12px;
  opacity: 0.7;
}

.form__name {
  width: 280px;
  height: 46px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
}

.form__name::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__name:-ms-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__name::-ms-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__name::placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__mail {
  width: 280px;
  height: 46px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
}

.form__mail::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__mail:-ms-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__mail::-ms-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__mail::placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
}

.form__text {
  width: 570px;
  height: 144px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.form__text::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.form__text:-ms-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
  transform: translateY(-50px);
}

.form__text::-ms-input-placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
  transform: translateY(-50px);
}

.form__text::placeholder {
  font-size: 13px;
  line-height: 130%;
  color: #fff;
  opacity: 0.4;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.form__submit {
  width: 120px;
  height: 34px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__submit:hover {
  background-color: #fff;
  color: #000;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__link:hover {
  opacity: 0.5;
}

.social__img {
  width: 40px;
  height: 40px;
  margin-bottom: 28px;
}

.copyright {
  position: absolute;
  bottom: 32px;
  right: 64px;
  font-size: 13px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.64;
}

/*/////////////////////// media_query /////////////////////////////*/
@media (max-width: 1310px) {
  .questions__dropdown {
    width: 100%;
  }
  .questions__photo {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .about__title {
    font-size: 30px;
  }
  .about__text-small {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .slider__box {
    width: 650px;
    margin-left: 43px;
  }
  .slider {
    max-width: 560px;
  }
  .advantages__items_top,
  .advantages__items_bottom {
    padding: 0 30px;
  }
}

@media (max-width: 1230px) {
  .questions__dropdown {
    width: 100%;
  }
  .item__wrapper::before {
    display: none;
  }
  .item__title_1:before,
  .item__title_2:before,
  .item__title_3:before,
  .item__title_4:before {
    display: none;
  }
  .advantages__items_top,
  .advantages__items_bottom {
    display: block;
  }
  .advantages__title {
    margin: 30px auto 50px;
    width: 50%;
    text-align: center;
  }
  .advantages__container {
    padding-top: 50px;
  }
  .advantages__items_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__item_top:nth-child(1), .advantages__item_top:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 50px;
    width: 80%;
  }
  .advantages__item_bottom:nth-child(1), .advantages__item_bottom:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 50px;
    width: 80%;
    margin: 0 auto 50px;
    width: 80%;
  }
  .item__discription {
    text-align: right;
  }
}

@media (max-width: 1170px) {
  .questions__dropdown {
    width: 100%;
  }
  .header__logo_text {
    display: none;
  }
  .header__logo {
    width: 54px;
    z-index: 10;
  }
  .slider__box {
    width: 450px;
    margin-left: 43px;
    height: 295px;
  }
  .slider__box::before {
    width: 433px;
    height: 230px;
  }
  .about__text-small {
    padding: 0 0 0 25px;
  }
  .about__title {
    margin-bottom: 25px;
  }
  .slider__title {
    top: -37px;
    left: 180px;
    font-size: 20px;
  }
}

@media (max-width: 1140px) {
  .contacts__container {
    padding: 70px 20px 50px;
  }
  .questions__dropdown {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .form__name {
    margin-right: 0;
  }
  .questions__container {
    padding: 270px 80px 100px;
  }
  .contacts__form {
    margin: 50px 30px 20px;
  }
  .contacts__social {
    margin-top: 12vw;
  }
  .form__text {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .characteristics__photo {
    -webkit-transform: translateY(10%) translateX(-50%);
            transform: translateY(10%) translateX(-50%);
  }
  .questions__container {
    padding: 70px 20px 30px;
  }
  .questions__title {
    width: 100%;
    margin: 0 auto 30px;
    text-align: center;
  }
  .questions__dropdown {
    width: 100%;
  }
  .about__container {
    padding: 70px 20px 50px;
  }
  .btn_wrapper {
    z-index: 5;
  }
  .header__menu {
    position: absolute;
    top: -900px;
    left: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .top__img {
    padding: 0 15.65% 0 15.65%;
  }
  .top__title {
    font-size: 50px;
    margin-top: 30vh;
  }
  .header {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
  }
  /*/////////////////////// menu mobile /////////////////////////////*/
  .header__burger_wrapper {
    display: block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__burger {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header__menu {
    width: 100%;
  }
  .header__menu_active {
    top: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .menu__item_active {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding-left: 24px;
    margin-bottom: 35px;
  }
  .menu__item_active:first-child {
    margin-top: 140px;
  }
  .menu__item_tel {
    display: block;
    padding-left: 24px;
    padding-top: 33px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
  }
  .menu__list {
    display: block;
    opacity: 0.9;
    width: 100%;
    background-color: #1c1c1c;
  }
  .menu__list_active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    opacity: 0.9;
  }
  .header__burger_active {
    width: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header__burger_wrapper_active {
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__burger_wrapper_active::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 7px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__burger_wrapper_active::after {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    width: 24px;
    bottom: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header {
    height: 56px;
    padding-top: 23px;
  }
  /*/////////////////////// menu mobile /////////////////////////////*/
  .about__container {
    display: block;
    text-align: center;
  }
  .about__text-small {
    margin-right: auto;
    text-align: left;
    padding: 0 25px;
  }
  .about__title {
    margin: 90px auto 20px;
  }
  .slider__box {
    margin-top: 100px;
    margin-left: auto;
    margin-right: 40px;
    width: 85%;
    height: 350px;
  }
  .slider__box::before {
    display: none;
  }
  .slider__title {
    left: 55%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-right: 25px;
  }
}

@media (max-width: 750px) {
  .copyright {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .social__link {
    margin: 20px;
  }
  .contacts__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .questions__dropdown {
    width: 100%;
  }
  .characteristics__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .characteristics__photo {
    display: none;
  }
  .characteristics__items_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
  .characteristics__items_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item__wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .questions__dropdown {
    width: 100%;
  }
  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    display: none;
  }
  .slider__box {
    width: 100%;
    margin: 100px auto;
  }
}

@media (max-width: 600px) {
  .about__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto 20px;
  }
  .questions__dropdown {
    width: 100%;
  }
  .advantages__item_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__discription {
    text-align: left;
  }
  .item__img {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .slider__title {
    margin: 0;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    padding: 0 20px;
  }
  .about__slider {
    margin: 0;
    height: 100%;
  }
  .slider__item {
    width: 100%;
  }
  .slider__box {
    margin: 50px 0 50px;
    height: 220px;
  }
  .questions__container {
    padding: 30vw 20px 30px;
  }
  .questions__dropdown {
    width: 100%;
  }
  .dropdown__title {
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px 5px 10px;
  }
  .dropdown__text {
    height: auto;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 5px 25px 10px;
  }
  .questions__title {
    font-size: 25px;
    line-height: 25px;
  }
  .advantages__title {
    font-size: 30px;
    width: 100%;
  }
  .characteristics__title {
    margin: 0 auto 50px;
    text-align: center;
    width: 100%;
    font-size: 30px;
  }
  .characteristics__container {
    padding: 70px 20px 30px;
  }
}

@media (max-width: 320px) {
  .slider__box {
    height: 200px;
  }
  .questions__container {
    padding: 20vw 20px 30px;
  }
  .questions__dropdown {
    width: 100%;
  }
  .about__container {
    height: 100%;
    text-align: center;
    padding: 70px 20px 50px;
  }
  .top__title {
    display: none;
  }
  .top__img {
    margin: 192px 0 24px 0;
  }
  .top__subtitle {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
  }
}

@media (max-height: 500px) {
  .top__title {
    display: none;
  }
  .top__img {
    margin-top: 20vh;
  }
  .menu__list {
    overflow: auto;
  }
  .menu__item_active {
    margin-bottom: 15px;
  }
  .menu__item_active:first-child {
    margin-top: 80px;
  }
  .menu__item_tel {
    padding-top: 20px;
  }
}
